---
import { Icon } from "astro-icon/components";
import { type NavBarLink } from "../../types/config";
import { url } from "../../utils/url-utils";

interface Props {
	links: NavBarLink[];
}

const links = Astro.props.links;
---
<div id="nav-menu-panel" class:list={["float-panel float-panel-closed transition-all fixed right-4 px-2 py-2"]}>
    {links.map((link) => (
        <a href={link.external ? link.url : url(link.url)} class="group flex justify-between items-center gap-8 hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)] py-2 pr-1 pl-3 rounded-lg transition"
           target={link.external ? "_blank" : null}
        >
            <div class="font-bold text-black/75 dark:text-white/75 group-active:text-[var(--primary)] group-hover:text-[var(--primary)] transition">
                {link.name}
            </div>
            {!link.external && <Icon name="material-symbols:chevron-right-rounded"
                  class="text-[1.25rem] text-[var(--primary)] transition"
            >
            </Icon>}
            {link.external && <Icon name="fa6-solid:arrow-up-right-from-square"
                  class="text-[0.75rem] text-black/25 dark:text-white/25 transition -translate-x-1"
            >
            </Icon>}
        </a>
    ))}
</div>
