---
import { formatDateToYYYYMMDD } from "../../utils/date-utils";

interface Props {
  published?: string;
  updated?: string;
}
const { published, updated } = Astro.props;
---

<div class="featured-meta text-sm text-slate-500 dark:text-slate-400">
  {published ? (
    <time datetime={published}>
      <span>📅 {formatDateToYYYYMMDD(new Date(published))}</span>
    </time>
  ) : null}
</div>